<!DOCTYPE html>
<html lang="en">
<head>
   <link href="css/style.css" rel="stylesheet">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Seorang ninja dari desa Konoha yang tidak bisa menggunakan teknik ninjutsu dan genjutsu, 
           hanya bisa menggunakan teknik taijutsu dan jurus andalan saya adalah langkah seribu.  
        </p>
        <img src="img/profile-picture.jpeg" class="portrait">
    </div>
    {{>footer}}
</body>
</html>