<!DOCTYPE html>
<html lang="en">
<head>
   <link href="css/style.css" rel="stylesheet">
    <title>About Me</title>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Saya merupakan seorang lulusan dari EVE <em>(Enterprise Base Vocational Education)</em> yaitu sebuah program pendidikan
        setingkat ahlimadya atau D3  kerja sama antara PT Holcim Indonesia 
        yang sekarang menjadi PT Solusi Bangun Indonesia dan Politeknik
            Negeri Jakarta angkatan pertama kelulusan tahun 2008 dan sekarang saya bekerja sebagai seorang teknisi listrik dan instrumentasi di shift maintenance.
        </p>
        <img src="img/profile-picture.jpeg" class="portrait">
    </div>
    {{>footer}}
</body>
</html>