<!DOCTYPE html>
<html lang="en">
<head>
   <link href="css/style.css" rel="stylesheet">
    <title>About Me</title>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p> Seorang teknisi kelistrikan dan instrumentasi yang bekerja di sebuah perusahaan yang bergerak di bidang 
            industri manufaktur semen. Blog ini saya buat sebagai catatan bagi diri saya sendiri untuk
            mempermudah mencari data karakteristik atau fungsi suatu alat yang berhubungan dengan kelistrikan dan instrumentasi.
            Semoga blog ini barmanfaat bagi teman teman sesama teknisi atau pun seseorang yang baru ingin belajar
            tentang kelistrikan dan instrumentasi. Terima kasih ⚡
        </p>
        <img src="img/profile-picture.jpeg" class="portrait">
    </div>
    {{>footer}}
</body>
</html>