<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/style.css" rel="stylesheet">
    <title>Gas Analyzer</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{>nav}}

<article>
    <header>
        <h2>{{article}}</h2>
        <p class="author">Posted by : <strong>Indra Permana</strong> 25 Mei 2022</p>
    <img src="img/Gas_analyzer_module.jpeg" alt="gas analyzer" width="250px">
    
    </header>

<p>Gas Analyzer digunakan di dalam dunia industri yang pada prosesnya menggunakan sistem pembakaran.
Proses terjadinya pembakaran terjadi karena adanya segitiga api yaitu 3 unsur yang terdiri dari bahan bakar (fuel), oksigen O2 dan panas.
Gas analyzer membantu operator CCR untuk pengoperasian alat secara optimal dan efisien dalam menggunakan bahan bakar
agar terjadi pembakaran yang sempurna.</p>

<h3>Apa itu Gas Analyzer</h3>

<p>Gas Analyzer adalah suatu alat yang terdiri dari berbagai macam komponen yang akan mengukur kandungan gas pada saat proses pembakaran.
Gas Analyzer terdiri dari probe, line sampling, filter debu, filter humidity, gas cooler, pompa gas sampling, dan gas analyzer module sebagai 
komponen utamanya yang di dalamnya terdapat komponen elektronik dan sensor sensor.  
</p>
</article>

</div>

    {{>footer}}
    
</body>
</html>