<!DOCTYPE html>
<html lang="en">
<head>
   <link href="css/style.css" rel="stylesheet">
    <title>Artikel</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        
        {{>nav}}    

<article>
    <header>

<h2>{{article}}</h2>

<p class="author">Posted by : <strong>Indra Permana</strong> 18 Mei 2022 </p>

<img src="img/instrument_pic.JPG" width="500px" alt="instrument_process">

</header>

<h3>Apa itu Instrumentasi</h3>
<p>Instrumentasi adalah sebuah peralatan untuk mengukur atau memanipulasi proses variabel seperti aliran, temperature, 
level, tekanan dan lainnya. Instrumentasi juga termasuk di dalamnya berbagai macam tipe seperti valve dan transmitter
dan alat yang kompleks seperti analyzer</p>

<p>Kontrol Proses dan manufaktur yang menggunakan Otomatisasi, adalah salah satu cabang pengaplikasian
Instrumentasi </p>

<h3>Bagaimana cara kerjanya</h3>
<p>Kontrol instrumentasi termasuk kepada peralatan seperti solenoid, valve, circuit breaker, relay dan lain lain.
Peralatan - peralatan ini dapat merubah parameter di lapangan dan dapat mengontrol 
secara remote atau otomatis. </p>

<p>Transmitter adalah peralatan yang menghasilkan sinyal analog, biasanya dalam bentuk 4 - 20ma sinyal arus listrik, 
adapun banyak pilihan lain yang memungkinkan menggunakan voltase atau tegangan, frekuensi, atau tekanan </p>

<p>Di era modern sekarang, sinyal dapat di transmisikan  via jaringan seperti Devicenet atau Fieldbus Foundation. 
Jenis jaringan seperti ini dapat menghemat kabel dan peralatan dan sangat reliable atau handal.</p>

<p>Sinyal ini bisa di gunakan untuk mengontrol peralatan instrument lainnya, atau dikirim ke
PLC, DCS, HMI dan SCADA system. Yang mana akan digunakan untuk memanipulasi nilai  untuk 
mengontrol peralatan lain dan proses di dalam sebuah sistem. </p>
</article>
</div>

    {{>footer}}
</body>
</html>