<!DOCTYPE html>
<html lang="en">
<head>
   <link href="css/style.css" rel="stylesheet">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}
    
    <script src="js/app.js" text="javascript"></script>

</body>
</html>