<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/style.css" rel="stylesheet">
    <title>Thermocouple</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{>nav}}

<article>
<h3>Meindre Blogs</h3>  
<h4>{{sub}}</h4>


<p>Posted by : <strong>Indra Permana</strong>  Jumat 13 Mei 2022</p>

<img src="img/thermocouple_illustration.jpg" width="500">

<h4>Thermocouple sebagai sensor suhu</h4>

<p>Thermocouple banyak digunakan secara luas di dalam dunia industri. 
Aplikasinya digunakan untuk pengukuran suhu
di kiln, preheater, gas turbin exhaust, diesel engine, dan proses industri lainnya.</p> 

<h4>Apa itu thermocouple</h4>

<p>Thermocouple adalah sebuah alat ukur atau sensor untuk mengukur suhu.
Di dalam thermocouple terdapat dua kawat logam konduktor yang berbeda jenisnya dan 
ujung kawat konduktor tersebut di gabungkan.
Logam konduktor yang satu berfungsi sebagai referensi dengan suhu konstan,
sedangkan konduktor yang satunya lagi untuk mendeteksi suhu panas
Thermocouple akan membangkitkan tegangan apabila 
mendeteksi perubahan suhu atau disebut juga temperature dependent voltage.  </p>

<p>Terdapat berbagai macam tipe thermocople diantaranya : </p>
<ol>
<li>Thermocouple tipe E (chromel-constantan) Rentang suhu : -270 C - 740 C</li>

<li>Thermocouple tipe J (iron-constantan) Rentang suhu : -40 C - 750 C</li>

<li>Thermocouple tipe K (Chromel - alumel) Rentang suhu : -200 C - 1350 C</li>

<li>Thermocouple tipe N (Nicrosil - Nisil) Rentang suhu : -270 C - 1300 C</li>

<li>Thermocouple tipe T (copper - constantan) Rentang suhu : -200 C - 350</li>

</ol>

<h4>Mengapa memilih thermocouple</h4> 

<p>Thermocouple harganya relatif murah untuk digunakan di dalam dunia industri, dapat mudah diganti, 
memilki koneksi yang standar dan dapat mengukur suhu dengan jangkauan yang luas.
Thermocouple tidak memerlukan catu daya tambahan. </p>

<h4>Bagaimana cara kerja thermocouple </h4>
<p>Pada tahun 1821, seorang Fisikawan asal Jerman Thomas Johann Seebeck melakukan penelitian dan menemukan 2 logam konduktor 
yang berbeda jenis yang ujungnya digabungkan ketika dipanaskan maka molekul atom akan bergetar dan elektron bebas didalam logam akan mengalir dari ujung logam konduktor yang panas
menuju ujung logam konduktor yang dingin karena adanya perbedaan/gradient suhu dan akan menghasilkan energi listrik berupa tegangan,
jika 2 logam konduktor yang digabungkan jenisnya sama maka elektron bebas yang mengalir akan sama dan tidak akan menghasilkan tegangan.
Tegangan yang dihasilkan dari gabungan kedua logam konduktor berbeda jenis tersebut dapat diaplikasikan untuk mengukur
suhu rendah hingga tinggi. Besarnya tegangan yang dihasilkan tergantung tipe logam konduktor yang digunakan. 
Tegangan yang dihasilkan biasanya dalam bentuk tegangan rendah dan terdapat thermocouple reference table 
untuk melihat perubahan tegangan dalam mV terhadap perubahan panas.</p>

<p>Berikut tabel reference thermocouple : </p>   
<ul>
<li><a href="https://www.thermocoupleinfo.com/type-j-thermocouple.htm" target="_blank">Thermocouple type J</a></li>
<li><a href="https://www.thermocoupleinfo.com/type-k-thermocouple.htm" target="_blank">Thermocouple type K</a></li>
<li><a href="https://www.thermocoupleinfo.com/type-t-thermocouple.htm" target="_blank">Thermocouple type T</a></li>
<li><a href="https://www.thermocoupleinfo.com/type-n-thermocouple.htm" target="_blank">Thermocouple type N</a></li>
<li><a href="https://www.thermocoupleinfo.com/type-e-thermocouple.htm" target="_blank">Thermocouple type E</a></li>
</ul>

<p>Semoga bermanfaat. Terima kasih</p> 
</article>

    </div>
    {{>footer}}
</body>
</html>