<nav>
    <h1 class="blog-title">{{name}}</h1>
    <a href="/thermocouple">Thermocouple</a>
    <a href="/rtd">RTD</a>
    <a href="/loadcell">Loadcell</a>
    <a href="/analyzer">Gas Analyzer</a>
</nav>