body{
    width:650px;
    margin:0 auto;
    padding:0 16px;
    color:#333333;
    display:flex;
    flex-direction: column;
    min-height:100vh;
    font-family:sans-serif;
    font-size:16px;
}

header{
    margin-bottom:48px;
    margin-top:16px;
}

header h1{
    font-size:64px;
    margin-bottom:16px;
}

header a {
    text-decoration:none;
    color:#888888;
    padding-right:16px;
    cursor:pointer;
}

div.main-content{
    flex-grow:1;
}

footer{
    padding:16px 0;
    border-top: 1px solid #cccccc;
    margin:16px 0;
}

.portrait{
    width:250px;
}
 input{
    padding:8px;
    border:1px solid #888888;

}

button{
    padding:8px;
    color:#eeeeee;
    background:#888888;
    border:1px solid #888888;
    cursor:pointer;
}



h2{
    font-size:40px;
    margin:16px 0;
}
h3{
    font-size:30px;
    color:#333333;
}

h4{
    font-size:20px;
}


p{
    font-size:16px;
    line-height:1.5;
}



nav{
    margin:16px 0;
       
}
nav a{
    text-decoration:none;
    cursor:pointer;
    color:cadetblue;
    padding-right:16px;
   
    
}

nav a:hover, nav a:active{
    text-decoration:none;
    cursor:pointer;
    color:#888888;
    font-weight: bold;
}




.author{
    color:black;
    font-style: italic;
}

.blog-title{
    font-size:26px;
    color:black;
    text-transform:uppercase;
    color:#1098ad;
    font-style:italic
}
.blog-title::first-letter{
font-style: normal;
margin-right:10px;
}



/*.article-title{
    font-size:30px;
    color:#444;
}*/


.list-details{
    list-style: square; 
}

.list-details li a {
    color:#444;
    text-decoration:none;
}

li{
    margin-bottom:10px;
    
}

li:last-child{
    margin-bottom:0px;
}

.list-details li a:hover{
 color:#cccccc;
 text-decoration:none;
 background-color:#333333
}

.type-title{
    font-weight:bold;
   
}



